* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inconsolata', monospace;
}

.main {
    width: 100%;
    height: 100vh;
    padding: 40px 20px;
    border: 1px solid tomato;
}

.container {
    max-width: 1440px;
    margin: auto;
}

.nav {
    height: auto;
}

.title-1 {
    color: #333;
    font-family: Inconsolata;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.bannar-contain {
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 118px;
    margin-bottom: 100px;
}

.bannar-img img {
    width: 100%;
}

.bannar-text {
    width: auto;
}

.title {
    width: auto;
    color: #333;
    font-family: Space Mono;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.24px;
}

.description {
    width: 100%;
    color: #4F4F4F;
    font-family: Space Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    word-spacing: 20px;
    letter-spacing: -0.84px;
    padding-top: 36px;
    padding-bottom: 64px;
}

.btn {
    color: #FFF;
    font-family: Space Mono;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.49px;
    width: 250px;
    height: 68px;
    flex-shrink: 0;
    background: #333;
    border: none;
    padding: 24px 43px;
}

/* responsiv media query */

@media screen and (max-width:768px) {
    .bannar-contain {
        flex-direction: column;
        align-items: start;
    }

    .title {
        font-size: 48px;
    }

}